# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# App Uploads and Outputs
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
scratch/

# IDE
.idea/
.vscode/
*.swp
